.search-btn {
    width: 38px;
    height: 38px;
    background-color: #44c7df;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.input-group {
    height: 20%;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.graph-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

ngx-graph {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}