<div class="navbar">
    <div class="top-navbar align-items-center w-100">
        <img class="logo" src="assets/logos/MiniMeLogo.png" alt="logo" routerLink='/shop'>

        <br>
        
        <div class="nav-bar-details">
            <div class="dropdown nav-bar-option" dropdown>
                <a class="dropdown-toggle" style="cursor: pointer;" dropdownToggle>
                    <img class="nav-bar-icon " src="assets/icons/user-profile-icon.svg" alt="user profile">
                </a>
                <div class="dropdown-menu dropdown-menu-right" style="cursor: pointer;" *dropdownMenu>
                    @if ((currentUser$ | async); as currentUser )
                    {
                    <a class="dropdown-item d-flex align-items-center py-2" routerLink="/orders">
                        <i class="fa fa-history mr-3"></i> View History
                    </a>
                    <div class="dropdown-divider"></div>
                    }
                    @if ((currentUser$ | async); as currentUser )
                    {
                    <a class="dropdown-item d-flex align-items-center py-2" (click)="logout()">
                        <i class="fa fa-sign-out mr-3"></i> Logout
                    </a>
                    }
                    @else {
                        <a class="dropdown-item d-flex align-items-center py-2" routerLink="/account/login">
                            <i class="fa fa-history mr-3"></i> Login
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>